@import "tailwindcss";

@theme {
  --color-primary: #0d6efd;
  --color-accent: #ff3956;
  --color-accent-hover: #53ccd7;

  --color-border-soft: #eef0ea;
  --color-border-soft-2: #ebebeb;
  --color-text-muted: #777777;
}


button ,a{
  @apply cursor-pointer!
}